version: '3.8'

services:
  db:
    image: mysql:8
    container_name: ganaderia
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: ganaderia_db
    ports:
      - "3306:3306"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge